@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

:root {
    --primary-color: #f5e050;
    --width-break: 600px
}

* {
    box-sizing: border-box;
}


footer{
    /* position:fixed;
    bottom:0; */
    width:100%;
    background-color:var(--primary-color);
    text-align:center;
    padding:1rem;
    border-top-right-radius: 1rem;
}

footer p{
    max-width: var(--width-break); 
    margin:auto;   
}

.navigation {
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    /* position: fixed; */
    top:0;
    display: block;
    /* position: fixed;
    bottom: 0px; */
}

#btn-translate {
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0rem;;
    background-color: var(--primary-color);
    font: inherit;
    font-size: large;
}

.main {
    box-sizing: border-box;
    max-width: var(--width-break);
    padding: 1rem;
    margin: auto;
}



img {
        box-sizing: border-box;  
        margin: auto;    
        display: block;
        align-content: center;
        
}